{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
<section class="section container">
        <div class="columns">
            <div class="column">
                {{ include('reservation/_form.html.twig') }}
            </div>
            {% if vehicule %}
            <div class="column">
                <h2 class="subtitle mt-5">Informations relatives au véhicule</h2>
                <div class="content">
                    <p><strong>Marque:</strong> {{ vehicule.marque }}</p>
                    <p><strong>Model:</strong> {{ vehicule.reference }}</p>
                    <p><strong>Informations:</strong> {{ vehicule.description | capitalize }}</p>
                    <p><strong>Prix journalier:</strong> {{ vehicule.getPrixJournalier() }}€ / jour</p>
                </div>
            </div>
            {% endif %}
        </div>
        {# <a class="button is-link" href="{{ path('app_reservation_index') }}">Back to list</a> #}
</section>
{% endblock %}